
.header {
    display: inline-block;
    line-height: 48px !important;
    vertical-align: top !important;
    margin: 8px !important;
}

.subheading {
    margin-top: 16px !important;
    margin-left: 32px !important;
    margin-bottom: 0px !important;
}

.icon {
    vertical-align: top;
}

.container {
    min-width: 240px;
}

.sessionList {
    margin-bottom: 24px !important;
}

.contentContainer {
    margin: 0px;
    
}

.upperIcons {
    margin-top: 0px !important;
    padding-left: 0px !important;
}

.lowerIcons {
    margin-top: 8px !important;
    padding-left: 0px !important;
}

.session {
    margin-left: 0px !important;
    padding-left: 30px !important;
}

.divider {
    margin: 12px 0px !important;    
}

.btn {
    padding-left: 30px !important;
}
