.text {
    text-align: center;
    margin-top: 35px !important;
    font-size: 17px !important;
    margin-bottom: 36px !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.btn {
    //margin-top: 36px;
}
